body, html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

canvas {
  cursor: pointer;
}

#woke {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 500ms;
  z-index:1001;
}

#woke .window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 250px;
  overflow: hidden;
  padding: 40px;
  margin-left: -200px;
  margin-top: -125px;
  background-color: #fff;
  border: 6px solid #ed6a5a;
  box-sizing: border-box;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}
#woke .window span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
#woke .window span.title {
  color: #ed6a5a;
  font-size: 24px;
}
#woke .window button {
  border: 0;
  margin: 0;
  padding: 0;
  width: 48%;
  height: 60px;
  color: #fff;
  font-size: 18px;
  background-color: #ed6a5a;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  transform: scale(1);
  transition: 0.2s;
}
#woke .window button.back {
  display: block;
  float: none;
  margin: auto;
  background-color: #fff;
  color: #ed6a5a !important;
  margin-top: 20px;
}
#woke .window button.yes {
  float: left;
}
#woke .window button.no {
  float: right;
}
#woke .window button:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  background-color: #f29488;
}
#woke .window .underBox {
  position: absolute;
  width: 400px;
  height: 250px;
  padding: 40px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ed6a5a;
  transition: 500ms;
  box-sizing: border-box;
}
#woke .window .underBox * {
  color: #fff !important;
}
#woke.hidden {
  opacity: 0;
  visibility: hidden;
}
#woke.hidden .window {
  transform: scale(0.5);
}
#woke.under .window .underBox {
  top: 0%;
}

#blur {
  z-index:1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}